
<div *ngIf="customize">
    <h2><span jhiTranslate="itgmApp.customize.detail.title">Customize</span> {{customize.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="itgmApp.customize.sidebar">Sidebar</span></dt>
        <dd>
            <span>{{customize.sidebar}}</span>
        </dd>
        <dt><span jhiTranslate="itgmApp.customize.color">Color</span></dt>
        <dd>
            <span>{{customize.color}}</span>
        </dd>
        <dt><span jhiTranslate="itgmApp.customize.projeto">Projeto</span></dt>
        <dd>
            <span>{{customize.projeto}}</span>
        </dd>
        <dt><span jhiTranslate="itgmApp.customize.cenario">Cenario</span></dt>
        <dd>
            <span>{{customize.cenario}}</span>
        </dd>
        <dt><span jhiTranslate="itgmApp.customize.desktop">Desktop</span></dt>
        <dd>
            <span>{{customize.desktop}}</span>
        </dd>
        <dt><span jhiTranslate="itgmApp.customize.user">User</span></dt>
        <dd>
            {{customize.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customize/'+ customize.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
